
<div class="basic-align">
    <h1>OPSZ service tracking system</h1>
    <form class="basic-align" [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field>
            <mat-label for="email">Email: </mat-label><input matInput type="text" formControlName="email" />
        </mat-form-field>
        <mat-form-field>
            <mat-label for="password">Password: </mat-label><input matInput type="password" formControlName="password" />
        </mat-form-field>
        <button class="form-btn" mat-raised-button color="primary" type="submit">Login</button>
        <button class="form-btn" mat-raised-button color="primary" [routerLink]="'/registration'">Registration</button>
    </form>
</div>
