@import 'variables';


html, body {
    background-color: $secondary-clr;
}
body { margin: 16px; font-family: Roboto, "Helvetica Neue", sans-serif; }


.basic-align {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 5px;
}

.form-btn {
    width: 10em;
}

.login-form, .register-form {
    background-color: $tertiary-clr;
    border-radius: .5em;
    padding: 2em;
}
