

h1 {
    text-align: center;
    font-size: 48px;
    margin-bottom: .5em;
}

.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    & .report-list .panel textarea {
        border: 1px solid gray;
        resize: none;
    }
}

.report-list {
    margin: 1em;
    max-width: 1200px;
    width: 100%;
}

.panel, textarea {
    width: 100%;
}

.bold {
    font-weight: bolder;
    padding-right: 1em;
}

.update-report {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 1.1em 1.1em;
    z-index: 4;
    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba( #000000, .5);
        z-index: -1;
    }
}